<div class="main-container">
  <div class="main-content">
    <div class="row list-header">
      <div class="col-lg-8 col-md-7 col-sm-6 list-header-left">
        <h4>
          YOUR LISTS
        </h4>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-6 list-header-right">
        <p>
          <%= link_to 'Start a new list...', new_list_path %>
        </p>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
</div>
