.new-film-list-header {
  color: #aabbcc;
  border-bottom: 1px solid rgba(68, 85, 102, 1);
  margin-bottom: 1rem;

  h3 {
    font-size: 1.5rem;
  }
}

.new-film-list-search {
  position: relative;
}

.new-film-list-results {
  background-color: #667788;
  color: white;
  border: 1px solid #EAEAEA;
  position: absolute;
  width: 70%;
  max-height: 18.5rem;
  overflow: scroll;

  .container {
    padding: 0.25rem 0;
  }
}

.new-film-list-result {
  padding: 0.75rem 1rem;

  &:hover {
    background-color: $boxd-green;
  }
}

.clear-results {
  background-color: #445566;
  padding-top: 0.75rem;
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: sticky;
  bottom: 0;
  transition: 0.3s ease;

  &:hover {
    background-color: #14181C;
  }
}

h3 {
  font-size: 1.15rem;
}

.film {
  display: flex;
  padding: 0.75rem;
  border: 1px solid #334455;
  border-radius: 0.35rem;
  margin-bottom: 0.35rem;

  .film-img {
    margin-right: 0.75rem;

    img {
      width: 3.5rem;
      border: 1px solid #334455;
      border-radius: 0.2rem;
    }
  }

  .film-img-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.8rem 1rem;

    img {
      width: 8.5rem;
      border: 1px solid #334455;
      border-radius: 0.2rem;
    }
  }

  .film-content {
    padding: 0.2rem 0;
    flex-grow: 1;
  }

  .list-modal-content {
    background-color: #445566;
  }

  .list-modal-header {
    border-bottom: 0;
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  }

  .modal-body {
    h3 {
      font-size: 1.35rem;
    }
  }

  .list-modal-title {
    font-size: 1rem !important;
    margin-bottom: 0.5rem;
  }

  .list-modal-btn-close {
    color: #778899;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .list-modal-img {
    img {
      width: 100%;
    }
  }

  .list-modal-input {
    margin-top: 1rem;
  }

  .list-modal-footer {
    border-top: 0;
  }

  .film-delete {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
}

.film.list-empty {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

@media (max-width: 3500px) {
  .new-film-list-results {
    width: 50%;
  }
}

@media (max-width: 1500px) {
  .new-film-list-results {
    width: 70%;
  }
}

@media (max-width: 575px) {
  /* For a screen < 540px, this CSS will be read */

  .new-film-list-results {
    width: 80%;
  }

  .film {
    .list-modal-img {
      display: none;
      // img {
      //   display: none;
      // }
    }
  }
}
