.film-info-container {
  display: flex;
  justify-content: center;
  padding-bottom: 3.5rem;

  .film-info {
    width: 70%;
  }
}

.film-info-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 75px - 3.5rem);

  img {
    width: 75px;
  }
}

.film-info-backdrop {

  .film-backdrop {
    width: 100%;
    max-height: 35rem;
    object-fit: cover;
    object-position: top;
  }
}

.film-info-wrapper {
  display: flex;
  padding-top: 3.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  .film-info-img {
    margin-bottom: 1.5rem;
    position: sticky;
    top: 0.75rem;

    .film-img {
      width: 100%;
      border-radius: 0.25rem;
      border: 1px solid rgba(255, 255, 255, 0.75);
    }
  }

  .film-info-content {

    h2 {
      margin-bottom: 1.5rem;
    }

    .subheaders {
      margin-bottom: 1.5rem;
    }
  }
}

.film-info-description {
  margin-bottom: 2rem;
}

.film-info-tabs-wrapper {
  margin-bottom: 2rem;
}

.film-info-tabs {
  display: flex;
  margin-bottom: 0.85rem;
  border-bottom: 0.85px solid rgba(170, 187, 204, 0.5);

  .film-info-tab {
    color: rgb(0, 224, 84);

    &:hover {
      border-bottom: 0.85px solid rgba(0, 224, 84, 1);
    }
  }

  .active {
    color: white;
    border-bottom: 0.85px solid rgba(255, 255, 255, 1);

    &:hover {
      border-bottom: 0.85px solid rgba(255, 255, 255, 1);
    }
  }

  h6 {
    margin-right: 1rem;
    pointer-events: none;
  }
}

.film-info-pill {
  background-color: #283038;
  padding: 0.2rem 0.35rem;
  margin-right: 0.35rem;
  margin-bottom: 0.4rem;
  border-radius: 0.25rem;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.1) inset;
}

.film-info-card {
  min-width: 16rem;
  display: flex;
  flex-direction: column;
  background-color: #445566;

  .film-info-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1.2px solid rgba(25, 30, 37, 1);

    .film-info-tracker {
      &:hover {
        p {
          color: white;
        }
      }
    }

    .film-info-rating {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.25rem;
      color: #334455;
      transition: 0.2s ease;
      width: 80%;

      .film-info-rating-stars {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .fa-xmark {
        font-size: 1rem;
        color: #8C969F;
        position: absolute;
        left: -1.2rem;
        display: none;
      }

      .starred {
        color: #00E054;
      }

      a {
        color: #334455;
      }

      &:hover {
        .fa-xmark {
          display: block;

          &:hover ~ .fa-star {
            color: #334455;
          }
        }

        .fa-star {
          color: #40BCF4;

          &:hover ~ .fa-star {
            color: #334455;
          }
        }
      }
    }

    .btn-none {
      padding: 0;
      color: $boxd-blue;
    }

    a {
      text-decoration: none;
      color: $boxd-blue;
    }

    i {
      font-size: 2rem;
      margin-bottom: 0.2rem;
    }
  }
}

.film-info-list {
  .header {
    margin-top: 1.5rem;
    margin-bottom: 0.85rem;
    border-bottom: 0.85px solid rgba(170, 187, 204, 0.5);
  }

  a {
    text-decoration: none;
    color: $boxd-blue;
    transition: 0.2s ease;

    &:hover{
      color: white;
    }
  }
}

.film-reviews-container {
  margin-top: 1.85rem;

  h6 {
    padding-bottom: 0.6rem;
    margin-bottom: 0;
    border-bottom: 0.85px solid rgba(170, 187, 204, 0.5);
  }

  .film-reviews-content {
    display: flex;
    margin-bottom: 0.75rem;
    padding-top: 0.85rem;
    border-top: 0.85px solid rgba(170, 187, 204, 0.3);
    position: relative;

    .film-reviews-content-right {
      margin-left: 1rem;
      flex-grow: 1;

      .fa-solid {
        font-size: 0.75rem;
        margin-right: -4px;
      }

      .starred {
        color: #00E054;
      }
    }

    .review-actions {
      top: 15px;
      right: 10px;

      i.fa-star {
        opacity: 1;
      }
    }
  }
}

.list-modal-content, .review-modal-content {
  background-color: #445566;
}

.list-modal-header {
  border-bottom: 1px solid #334455;
  position: relative;
  padding-top: 1.5rem;
}

.list-modal-footer {
  border-top: 1px solid #334455;
  background-color: #334455;
}

.list-modal-btn-close, .review-modal-btn-close {
  color: #778899;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.list-modal-body {
  padding-top: 0.5rem;

  .form {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #334455;
  }
}

.review-modal-header {
  border-bottom: 0;
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.review-modal-footer {
  border-top: 0;
}

.review-modal-img {
  img {
    width: 100%;
  }
}

.review-modal-input {
  margin-top: 1rem;
}

.review-modal-subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 0.45rem;
}

.review-modal-pickr {
  width: 6.25rem;
  margin-left: 0.8rem;
}

.review-modal-rating {
  display: flex;

  .review-rating {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 0.5rem;
    color: #334455;
    transition: 0.2s ease;
    width: 80%;

    .review-rating-stars {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .fa-star {
      font-size: 1.2rem;
    }

    .fa-xmark {
      font-size: 1rem;
      color: #8C969F;
      position: absolute;
      left: -1.2rem;
      display: none;
    }

    .starred {
      color: #00E054;
    }

    a {
      color: #334455;
    }

    &:hover {
      .fa-xmark {
        display: block;

        &:hover ~ .fa-star {
          color: #334455;
        }
      }

      .fa-star {
        color: #40BCF4;

        &:hover ~ .fa-star {
          color: #334455;
        }
      }
    }
  }
}

.form-check-input:unchecked {
  // border-color: #66afe9; /*you can change this depending on your application's background color */
  outline: 0 !important;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: $boxd-green;
  border-color: $boxd-green;
  -webkit-box-shadow: none !important;
}



@media (max-width: 3500px) {

  .film-info-container {
    .film-info {
      width: 50%;
    }
  }
}

@media (max-width: 1500px) {

  .film-info-container {
    .film-info {
      width: 70%;
    }
  }
}

@media (max-width: 575px) {
  /* For a screen < 540px, this CSS will be read */

    .film-info-container {
      padding-bottom: 2rem;

      .film-info {
        width: 100%;
      }
    }

    .film-info-wrapper {
      padding-top: 2rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;

      .film-info-img {
        display: none;
      }
    }

    .review-modal-img {
      display: none;
    }

    .review-modal-subtitle {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      margin-bottom: 1rem;
    }

    .review-modal-pickr {
      margin-top: 0.35rem;
      margin-left: 0rem;
    }
  }
