// Specific CSS for your home-page
body {
  background-color: #191E25;
  color: $boxd-blue;
}

.hm-container {
  display: flex;
  justify-content: center;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;

  .hm-content {
    width: 75%;
  }
}

h1, h2, h3 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}

h3.subheader {
  font-family: "Work Sans", "Helvetica", sans-serif;
  font-weight: 200;
  color: $boxd-blue;
}
