// Specific CSS for your home-page
body {
  background-color: #191e25;
  color: $boxd-blue;
}

h1, h2, h3 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}

h4 {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.homepage-tagline {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;

  h4 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
  }
}

.homepage-films {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-bottom: 3.5rem;
}

.homepage-grid-item {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: 0.8px solid rgba(171, 187, 204, 0.5);
    border-radius: 0.2rem;
    transition: 0.2s ease;

    &:hover {
      outline: 3px solid $boxd-sky-blue;
      border-radius: 0.2rem;
    }
  }
}

.homepage-reviews-header {
  padding-bottom: 0.5rem;
  margin-bottom: 1.25rem;
  border-bottom: 0.85px solid rgba(170, 187, 204, 0.5);
}

.homepage-reviews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;

  .homepage-grid-item {
    img {
      &:hover {
        outline: 3px solid $boxd-green;
      }
    }
  }
}

@media (max-width: 850px) {
  .homepage-films {
    grid-template-columns: 1fr 1fr;
  }

  .homepage-reviews {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
