.user-profile-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;

  .user-profile-avatar {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;

    img {
      height: 5rem;
      width: 5rem;
      margin-right: 1.2rem;
    }

    .btn-grey {
      text-decoration: none;
      font-size: 0.8rem;
      padding: 5px 10px;
      margin-left: 1.2rem;
    }

    &:active {
      .btn-grey {
        background-color: #667788;
        color: white;
      }
    }
  }

  .user-profile-stats {
    display: flex;
    align-items: center;

    .user-stats-films, .user-stats-likes,
    .user-stats-lists, .user-stats-reviews {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;
    }

    h3, p {
      margin: 0;
    }

    h3 {
      color: white;
      font-size: 1.5rem;
    }

    p {
      font-size: 0.85rem;
    }
  }
}

.user-profile-watched, .user-profile-watchlist {
  margin-bottom: 2.25rem;

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .grid-item {
    position: relative;
    transition: 0.2s ease;

    a {
      color: $boxd-blue;
    }

    img {
      width: 100%;
      border: 0.8px solid rgba(171, 187, 204, 0.5);
      border-radius: 0.2rem;
    }
  }

  .film-details {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: calc(100% - 24px);
    color: $boxd-blue;
    font-size: 1rem;
    top: 0;
    right: 0;
    transition: 0.3s ease;
    opacity: 0;

    .film-details-card {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
    }

    i {
      margin: 0.5rem 0.25rem;
    }

    &:hover {
      outline: 3px solid $boxd-sky-blue;
      border-radius: 0.2rem;
      opacity: 1;
    }
  }
}

.watched-header, .watchlist-header {
  padding-bottom: 0.5rem;
  margin-bottom: 1.25rem;
  border-bottom: 0.85px solid rgba(170, 187, 204, 0.5);
}


.film-rating-reviews {
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
  color: #606F7F;
  margin-top: 0.5rem;

  i.fa-star {
    margin-right: -3px;
  }
}

.film-details.watchlist {
  height: 100%;
}

@media (max-width: 850px) {

  .user-profile-header {
    flex-direction: column;
    justify-content: center;
    align-items: start;

    .user-profile-avatar {
      font-size: 1.25rem;
      margin-bottom: 1rem;

      .avatar-bordered-sm {
        width: 40px;
        height: 40px;
      }

      .btn-grey {
        min-width: 110px;
      }
    }

    .user-profile-stats {
      .user-stats-films, .user-stats-likes,
      .user-stats-lists, .user-stats-reviews {
        margin-left: 0;
        margin-right: 1rem;
      }

      h3 {
        font-size: 1.25rem;
      }

      p {
        font-size: 0.75rem;
      }
    }
  }

  .user-profile-watched, .user-profile-watchlist {
    .grid-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 550px) {

}
