<div>
  <% results.each do | result |%>
    <div class="new-film-list-result" data-action="click->film-lists#addFilm">
      <%= result[:original_title] %> <%= result[:release_date].first(4) %>
    </div>
  <% end %>
</div>
