<div class="main-container">
  <div class="main-content"  data-controller="film-lists" data-film-lists-list-id-value="<%= @list.id %>" data-film-lists-api-token-value="<%= ENV['TMDB_TOKEN'] %>">
    <div class="new-film-list-header">
      <h3>
        Add a film
      </h3>
    </div>

    <form>
      <div class="input-group new-film-list-search">
        <input type="text" class="form-control" data-film-lists-target="query" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" data-action="click->film-lists#search" id="button-addon2">Button</button>
      </div>
    </form>

    <div data-film-lists-target="show" class="new-film-list-results d-none">
      <div data-film-lists-target="results" class="container">

      </div>

      <div class="clear-results" data-action="click->film-lists#clear" data-film-lists-target="clear">
        <p class="m-0 p-0">
          Clear
        </p>
      </div>
    </div>

    <div class="mt-4" data-film-lists-target="filmList">
      <%= @film_library.title %>
    </div>
  </div>
</div>
