<div class="srch-container">
  <div class="srch-content" data-controller="search-films" data-search-films-target="content" data-search-films-query-value="<%= @query %>">
    <div class="srch-loading">
      <%= image_tag "loading.svg" %>
    </div>
  </div>
</div>
