.navbar-lewagon {
  justify-content: space-between;
  background: #14181C;
  color: $boxd-blue;
  height: 65px;
  display: flex;
  justify-content: center;

}

.navbar-container {
  min-width: 1100px;
  display: flex;
  justify-content: space-between;

  .navbar-logo {
    display: flex;
    align-items: center;

    .logo {
      width: 16.5rem;
    }
  }
}

.navbar-menu {
  display: flex;
  align-items: center;

  .nav-link {
    color: $boxd-blue;
    margin-left: 1rem;
  }
}

.search-pill {
  width: 10.5rem;
  margin-left: 1rem;
}

.search-pill-text {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.search-pill-btn {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
