.navbar-lewagon {
  justify-content: space-between;
  background: #14181C;
  color: $boxd-blue;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-container {
  width: 70%;
  display: flex;
  justify-content: space-between;

  .navbar-logo {
    display: flex;
    align-items: center;

    .logo {
      width: 14.5rem;
    }
  }
}

.navbar-menu {
  width: 70%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 0.25rem;

  .nav-link {
    color: $boxd-blue;
    margin-left: 1rem;
  }
}

.search-pill-wrapper {
  display: flex;
  justify-content: end;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
}


.search-pill {
  width: 100%;
}

.search-pill-text {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.search-pill-btn {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

@media (max-width: 3500px) {
  .navbar-container {
    width: 50%;
  }

  .navbar-menu {
    width: 50%;
  }
}

@media (max-width: 1500px) {
  .navbar-container {
    width: 70%;
  }

  .navbar-menu {
    width: 70%;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
    .navbar-container {
      width: 90%;
    }

    .navbar-menu {
      width: 90%;
    }
  }
